<div class="panel panel-default" ng-hide="jobDetailCtrl.editing || jobDetailCtrl.status || jobDetailCtrl.resume">
	<div class="panel-heading">
		<h1>Number Of Rotors: {{ jobDetailCtrl.job.title }}</h3>
	</div>
	<div class="panel-body">
		<h3><strong>Brand</strong>: {{ jobDetailCtrl.job.company }}</h3>
		<h3><strong>Location</strong>: {{ jobDetailCtrl.job.location }}</h3>
		<h3><strong>Description</strong>: {{ jobDetailCtrl.job.description }}</h3>
		<a ng-show="jobDetailCtrl.job.link" href="{{ jobDetailCtrl.job.link }}"> Link To Similar Models</a>
		<h3><strong>Contact</strong>: {{ jobDetailCtrl.job.contact }}</h3>
		<h3><strong>Phone</strong>: {{ jobDetailCtrl.job.phone }}</h3>
		<h3><strong>Notes</strong>: {{ jobDetailCtrl.job.notes }}</h3>
		<h3><strong>Date Of Submission </strong>: {{ jobDetailCtrl.job.resumeDate}}</h3>
		<h3><strong>Estimated Purpose</strong>: {{ jobDetailCtrl.job.recentUpdate}}</h3>
		<h3><strong>Flight Behavior </strong>: {{ jobDetailCtrl.job.updateNotes }}</h3>
	</div>



		<button class="btn btn-warning btn-block" ng-click="jobDetailCtrl.status=!jobDetailCtrl.status">Status Update</button>

	<button class="btn btn-info btn-block" ng-click="jobDetailCtrl.editing=!jobDetailCtrl.editing">Edit Job</button>



	<!-- DELETE BUTTON -->
	<button class="btn btn-danger btn-block" ng-click="jobDetailCtrl.removeJob(jobDetailCtrl.job._id, main.user.username)">Delete Job</button>

</div>

<div class="panel panel-default" ng-show="jobDetailCtrl.status">
	h3><strong>ID</strong>: {{ jobDetailCtrl.job._id }}</h3>
		<div class="panel-heading"><h3 class="panel-title">Status</h3></div>
		<div class="panel-body">
				<form ng-submit="jobDetailCtrl.updateJob(jobDetailCtrl.job._id, jobDetailCtrl.job.title, jobDetailCtrl.job.company, jobDetailCtrl.job.location, jobDetailCtrl.job.description, jobDetailCtrl.job.link, jobDetailCtrl.job.contact, jobDetailCtrl.job.phone, jobDetailCtrl.job.notes, jobDetailCtrl.job.resumeDate, jobDetailCtrl.job.recentUpdate, jobDetailCtrl.job.updateNotes)">
			<div class="form-group">
				<label>Most recent update from employer</label>
				<input type="text" name="year" ng-model="jobDetailCtrl.job.recentUpdate" class="form-control" required>
			</div>
			<div class="form-group">
				<label>Notes about the most recent update from employer</label>
				<input type="text" name="year" ng-model="jobDetailCtrl.job.updateNotes" placeholder="What was the most recent update about?" class="form-control" required>
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-info btn-block">Update Status</button>
			</div>
		</form>
		</div>
	</div>
</div>

<div class="panel panel-default" ng-show="jobDetailCtrl.editing">
<h3><strong>ID</strong>: {{ jobDetailCtrl.job._id }}</h3>
	<div class="panel-heading"><h3 class="panel-title">Edit Job</h3></div>
	<div class="panel-body">
		<form class="" ng-submit="jobDetailCtrl.updateJob(jobDetailCtrl.job._id, jobDetailCtrl.job.title, jobDetailCtrl.job.company, jobDetailCtrl.job.location, jobDetailCtrl.job.description, jobDetailCtrl.job.link, jobDetailCtrl.job.contact, jobDetailCtrl.job.phone, jobDetailCtrl.job.notes, jobDetailCtrl.job.resumeDate, jobDetailCtrl.job.recentUpdate, jobDetailCtrl.job.updateNotes)">
			<div class="form-group">
				<label>Title</label>
		    	<input type="text" name="title" ng-model="jobDetailCtrl.job.title" placeholder="Title" class="form-control" required>
		    </div>
			<div class="form-group"><label>Company</label>
				<input type="text" name="company" ng-model="jobDetailCtrl.job.company" placeholder="Company" class="form-control" required>
			</div>
			<div class="form-group"><label>Location</label>
				<input type="text" name="location" ng-model="jobDetailCtrl.job.location" placeholder="Lcoation" class="form-control">
			</div>
			<div class="form-group"><label>Description</label>
				<input type="text" name="description" ng-model="jobDetailCtrl.job.description" placeholder="Description" class="form-control">
			</div>
			<div class="form-group"><label>Link</label>
				<input type="text" name="link" ng-model="jobDetailCtrl.job.link" placeholder="Link" class="form-control">
			</div>
			<div class="form-group"><label>Contact</label>
				<input type="text" name="contact" ng-model="jobDetailCtrl.job.contact" placeholder="Contact" class="form-control">
			</div>
			<div class="form-group"><label>Phone</label>
				<input type="text" name="phone" ng-model="jobDetailCtrl.job.phone" placeholder="Phone" class="form-control">
			</div>
			<div class="form-group"><label>Notes</label>
				<input type="text" name="notes" ng-model="jobDetailCtrl.job.notes" placeholder="Notes" class="form-control">
			</div>
			<div class="form-group">
				<label>Resume was submitted on</label>
				<input type="" name="year" ng-model="jobDetailCtrl.job.resumeDate" class="form-control" required>
			</div>

			<div class="text-center">
				<button type="submit" class="btn btn-info btn-block">Update Job</button>
			</div>

		</form>
	</div>
</div>
