<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title">Add A New Drone</h3></div>
	<div class="panel-body">
		<form id="new-Job-form" ng-submit="jobsCtrl.addJob(jobsCtrl.newJob.title,jobsCtrl.newJob.company,jobsCtrl.newJob.location, jobsCtrl.newJob.description, jobsCtrl.newJob.link, jobsCtrl.newJob.contact, jobsCtrl.newJob.phone, jobsCtrl.newJob.notes, jobsCtrl.newJob.resumeDate, jobsCtrl.newJob.recentUpdate, jobsCtrl.newJob.updateNotes, main.user.username)">
			<div class="form-group">
				<label>How Many Rotors</label>
		    	<input type="text" name="make" ng-model="jobsCtrl.newJob.title" placeholder="Rotors" class="form-control" required>
		    </div>
			<div class="form-group">
				<label>Brand</label>
				<input type="text" name="model" ng-model="jobsCtrl.newJob.company" placeholder="Brand" class="form-control" required>
			</div>
			<div class="form-group">
				<label>Location</label>
				<input type="text" name="year" ng-model="jobsCtrl.newJob.location" placeholder="Location" class="form-control">
			</div>
			<div class="form-group">
				<label>Description</label>
				<input type="text" name="year" ng-model="jobsCtrl.newJob.description" placeholder="Description" class="form-control">
			</div>
			<div class="form-group">
				<label>Link To Similar</label>
				<input type="text" name="year" ng-model="jobsCtrl.newJob.link" placeholder="Link To Similar" class="form-control">
			</div>
			<div class="form-group">
				<label>Contact</label>
				<input type="text" name="year" ng-model="jobsCtrl.newJob.contact" placeholder="Contact" class="form-control">
			</div>
			<div class="form-group">
				<label>Phone Number</label>
				<input type="text" name="year" ng-model="jobsCtrl.newJob.phone" placeholder="Phone Number" class="form-control">
			</div>
			<div class="form-group">
				<label>Notes</label>
				<input type="text" name="year" ng-model="jobsCtrl.newJob.notes" placeholder="Notes" class="form-control">
			</div>
			<div class="form-group">
				<label>Submitted on</label>
				<input type="text" name="year" ng-model="jobsCtrl.newJob.resumeDate" placeholder="Date" class="form-control">
			</div>
			<div class="form-group">
				<label>Anticipated Purpose?</label>
				<input type="text" name="year" ng-model="jobsCtrl.newJob.recentUpdate" placeholder="Purpose" class="form-control">
			</div>
			<div class="form-group">
				<label>Flight Pattern?</label>
				<input type="text" name="year" ng-model="jobsCtrl.newJob.updateNotes" placeholder="Flight Pattern" class="form-control">
			</div>
			<div class="text-center">
			<button type="submit" class="btn btn-info btn-block">Add Drone</button>
			</div>
		</form>
	</div>
</div>
