<h2 ng-show="jobsCtrl.jobs.length">My Drones:</h2>
<div class="list-group">
	<a ng-repeat="job in jobsCtrl.jobs" href="#/jobs/{{ job._id }}" class="list-group-item">
  		<h3 class="list-group-item-heading">{{ job.title }} {{ job.company }}</h3>
  		<p class="list-group-item-text">{{ job.location }}</p>
			<p ng-show="!job.resumeDate">Not yet been submitted</p><br>
				<span ng-show="job.resumeDate">You submitted your submission on {{ job.resumeDate}}</span><br>
				<span ng-show="job.resumeDate">
					<span ng-show="job.recentUpdate">Estimated Purpose: {{ job.recentUpdate }}</span>
					<span ng-show="!job.recentUpdate">No Update Yet</span>
				</span>
  	</a>
</div>
